*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
.externalNativeBuild
.idea
app/release
gradle/wrapper
third_party_license_metadata
third_party_licenses
app/alpha
.project
app/mapping.txt
app/build
build
/app/build
/build
app/prodConfig
./app/prodConfig
/app/prodConfig
